@import "../../scss/custom.scss";

.item-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	&__hot {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__image {
		img {
			width: 280px;
			object-fit: cover;

			@media (max-width: 500px) {
				width: 260px;
			}
		}
	}

	&__lable {
		font-size: 24px;
		letter-spacing: 2px;
		font-weight: 700;
		margin-bottom: 20px;
		color: #000;
		height: 50px;
	}

	&__options {
		margin-bottom: 20px;
	}

	&__button {
		margin-bottom: 15px;
	}
}

.options-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__count {
		background-color: $main;
		border-radius: 10px;
		padding: 6px 10px;
		margin-right: 15px;
		min-width: 60px;

		&.active {
			background-color: $subMain;
			font-weight: 600;
		}
	}

	&__price {
		text-align: center;
		font-size: 16px;
		font-weight: 900;
		margin-left: 40px;
		text-decoration: underline;
		white-space: nowrap;
	}
}

.button-item {
	max-width: 250px;
	background-color: $main;
	border-radius: 10px;
	padding: 10px 20px;
	border: 1px solid $color;
	color: red;
	transition: all 0.3s ease-out;
	height: 40px;

	&:hover {
		background-color: $subMain;
	}

	&:active {
		transform: translate(0px, 4px);
	}

	&__add {
		margin-right: 10px;
		font-size: 15px;
	}

	&__quantity {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 1px solid red;
		width: 18px;
		height: 18px;
		border-radius: 5px;
		background-color: white;
		font-size: 14px;
		color: red;
		padding: 2px;
	}
}