@import "../../scss/custom.scss";

.header {
	border-bottom: 2px solid $main;
	padding: 10px 20px;

	@media (max-width: 800px) {
		padding: 10px 15px;
	}

	@media (max-width: 500px) {
		padding: 10px 0px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		text-align: center;
		cursor: pointer;

		img {
			width: 50px;

			@media (max-width: 800px) {
				width: 40px;
			}

			@media (max-width: 500px) {
				width: 30px;
			}
		}

		@media (max-width: 500px) {
			margin-right: 5px;
		}
	}

	&__title {
		font-size: 48px;
		color: red;
		font-weight: 900;
		letter-spacing: 10px;

		@media (max-width: 800px) {
			font-size: 36px;
			letter-spacing: 5px;
		}

		@media (max-width: 650px) {
			font-size: 26px;
			letter-spacing: normal;
		}

		@media (max-width: 500px) {
			font-size: 20px;
			letter-spacing: normal;
		}
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		background-color: $main;
		border: 1px solid $subMain;
		border-radius: 10px;
		transition: all 0.3s ease-out;

		@media (max-width: 500px) {
			padding: 6px;
		}

		&--price {
			color: $grey;
			font-size: 18px;
			margin-left: 10px;
			min-width: 80px;

			@media (max-width: 800px) {
				font-size: 14px;
				margin-left: 8px;
			}

			@media (max-width: 500px) {
				font-size: 14px;
				margin-left: 4px;
				min-width: 0px;
			}
		}

		&--cart {
			width: 24px;

			@media (max-width: 800px) {
				width: 18px;
			}

			@media (max-width: 500px) {
				width: 16px;
				font-size: 14px;
			}
		}

		&:hover {
			background-color: $subMain;

			span {
				color: #000;
			}

			svg {
				stroke: #000;
			}
		}

		&:active {
			transform: translate(0px, 4px);
		}
	}
}